MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=prueba_tecnica

GEMINI_MODEL=nombre_del_modelo
GEMINI_API_KEY=tu_api_key_aqui

#https://sso.eservices.jud.ct.gov/Foreclosures/Public/PendPostbyTownList.aspx
BASE_URL_CT=https://sso.eservices.jud.ct.gov/Foreclosures/Public/
URL_CT_TAX=https://cttaxsales.com/upcoming-tax-sales/
